<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clientesnmp.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.clientesnmp.app.services.CheckService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name="com.clientesnmp.app.CambiarPassActivity" />
        <activity
            android:name="com.clientesnmp.app.NewEquipoActivity"
            android:label="Nuevo dispositivo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.clientesnmp.app.RegisterActivity"
            android:label="Registro de usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.clientesnmp.app.LoginActivity"
            android:label="Gestión de dispositivos SNMP"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.clientesnmp.app.services.TrapService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.clientesnmp.app.MainActivity"
            android:label="Gestor de dispositivos"
            android:screenOrientation="portrait" />
    </application>

</manifest>